@page
@model DBKINOTEATR.Pages.MESTA_.IndexModel

@{
    ViewData["Title"] = "Места";
}

<h1>Места в зале</h1>

<p>
    <a asp-page="Create">Добавить новое место</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MESTA[0].ZANYTOST)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MESTA) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZANYTOST)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
